*{
    box-sizing: border-box;
}
body {
    background-color: #E0E0E0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2 rem;
    margin-top: 0;
}

header img {
    border: initial;
    height: 11rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.wrapper {
    width: 85%;
    max-width: 1400px;
    background-color: white;
    padding-bottom: 1rem;
}

h1, h2 {
    margin: 20px auto;
    color: #525050;
    width: 80%;
}

p {
    background-color: #A8A5A5;
    border-radius: 0.5rem;
    width: 80%;
    padding: 10px;
    margin: auto;
    
}

ol {
    background-color: #A8A5A5;
    border-radius: 0.5rem;
    width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
    list-style-position: inside;
    padding: 10px;
}
blockquote p {
    background-color: initial;
}

blockquote {
    margin: 0 auto 20px;
    width: 60%;
    border-left: 5px solid #444F3E;
    background-color: white;
    color: #444F3E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

cite {
    font-size: 1.5rem;
    font-weight:normal;
}


.photo img{
    display: block;
    margin: auto;
    border: 3px solid #525050;
    border-radius: 0.5rem;
    height: 20rem;
}

article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

article img {
    flex-basis: auto;
    height: 12rem;
    border: 3px solid #525050;
    border-radius: 0.5rem;
}

div {
    margin: auto;
}

.photo {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:hover {
    background-color: #525050;
    color: white;
    
}

a {
    
    color: black;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}

nav li {
    width: 8rem;
}

nav a {
    color: black;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    
    background-color: #525050;
    color: white;
    font-size: initial;
    border-radius: 0.2rem;
  
}

ul {
    margin: 0 auto;
    width: 80%;
    padding: 0;
}

header img {
    display: block;
    margin: auto;
}

